/*---------journey details css ------------- */

.big-label{
	font-size: 32px;
	font-weight: 600;
}
.small-label{
	font-size: 18px;
	font-weight: 200;
}

.label-wrapper{
	height:120px;
	border:1px solid blue;
	background-color:pink;
	margin:5px;
	text-align: center;
	display:flex;
	justify-content:center;
	align-items:center;

}
.big-header{
	font-size: 37px;
	font-weight: 500;
	text-align: center;
}


/*---------history css ------------- */
ul.history-list li{	
	border-bottom: 1px inset #CEC5C5;
}
div.history-item-wrapper{
	margin: 15px;
}
div.item-header{
	font-weight: 500;
	font-size: 15px;
}
div.item-date{
	float: left;
}
div.item-fare{
	float: right;
}
div.clear{
	clear:both;
}
div.item-ride-type{
	color:blue;
}
div.item-body{
	font-weight: 400;
	font-size: 13px;
	letter-spacing: 1px;

}
div.item-start-addr{
	border-left: 1px dashed gray;
	padding-left: 15px;	
}
div.item-end-addr{
	margin-top:5px;
	border-left: 1px dashed gray;
	padding-left: 15px;
}
