<ion-view title="My Meter" id="page1" style="background-color:#FFFFFF;">
    <ion-content padding="true" scroll="false" class="has-header">
        <div> <h1 class="big-header"> Welcome to your meter app </h1></div>
        <div class="spacer" style="width: 283px; height: 78px;"></div>
        <a ui-sref="menu.journeyDetails" id="myMeter-button1" style="font-weight:600;border-radius:20px 20px 20px 20px;" class="button button-positive  button-block">Start Journey</a>
    </ion-content>
</ion-view>