<ion-view title="Summary" id="page5">
    <ion-content padding="true" class="has-header">
        <div>
            <img src="img/y8CN2qbQtWTDTVECgdQd_download.jpg" width="100%" height="150" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 283px; height: 9px;"></div>
        <ion-list>
            <ion-item>11.30 am Powai Hiranandani</ion-item>
            <ion-item>12.15 pm Chembur</ion-item>
        </ion-list>
        <div class="spacer" style="width: 283px; height: 12px;"></div>
        <div class="list card">
            <div class="item item-divider">Billing Details</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item class="item-thumbnail-left">
                        <img>
                        <h2>Distance</h2>
                        <p>11.3 KM</p>
                    </ion-item>
                    <ion-item class="item-thumbnail-left">
                        <img>
                        <h2>Wait Time</h2>
                        <p>16 minutes</p>
                    </ion-item>
                </ion-list>
            </div>
            <div class="item item-divider">Total Fare 155 Rs</div>
        </div>
    </ion-content>
</ion-view>